body {
  font-family: 'Poppins', sans-serif;
}

#form {
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
}
#bigBox {
  height: 100px;
  width: 200px;
  font-size: 11pt;
}

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main {
  max-width: 400px;
  width: 100%;
  background: white;
  margin: auto;
  margin-top: 7vh;
  display: flex;
  flex-direction: row;
  padding: 15px 25px;
  border: solid;
  border-radius: 27px;
}

.sins {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mainGroup {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
}

form {
  margin: auto;
}

.header {
  z-index: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  font-weight: bold;
}

.header2 {
  text-align: center;
  margin: 27px auto 1px;
  font-family: 'Courier New', Courier, monospace;
}
.basicInfo {
  height: 25px;
  line-height: 2.5px;
  border: outset;
  border-radius: 10px;
  width: 150px;
  text-decoration: none;
  font-size: 13px;
  margin: 7px 0px;
}

.checklist {
  list-style-type: none;
}

.mainLabel {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 0px;
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  /* -webkit-transition-duration: 0.4s; /* Safari 
  transition-duration: 0.4s;
  border-radius: 10px; */
}

select {
  height: 30px;
  line-height: 2.5px;
  border: outset;
  border-radius: 12px;
  width: 160px;
  text-decoration: none;
  font-size: 13px;
  margin: 7px 0px;
  background-color: white;
}

label {
  margin: 7px 0px;
}

.radioButton {
  width: 100px;
}

.gif {
  max-width: 400px;
  width: 100%;
  margin: auto;
  margin-top: 7vh;
  display: flex;
  flex-direction: row;
  padding: 15px 25px;
  border: solid;
  border-radius: 27px;
  background-image: url('evil.gif');
  color: black;
  font-weight: bold;
}

.mainBackGround {
  background-image: url('evil.gif');
  background-repeat: no-repeat;
}

.mainShrink {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {
    width: 100px;
  }
  to {
    width: 20px;
  }
}
