.ui-tabs {
  position: relative !important;
  width: 1000px !important;
  max-width: 100% !important;
  height: 500px;
  max-height: 100%;
  padding: 0.2em;
  margin: auto;
}

.modal {
  min-width: 1200px !important;
  overflow-y: initial !important;
  display: block;
  position: relative !important;
  text-align: center !important;
}
/* .ui-widget-content {
  height: 500px;
  /* position: relative;
  padding: 0.5 em; 
} */
.modal-body {
  overflow-y: auto;
}

#locTable {
  margin-top: 50px;
}

.ui-widget-content {
  border: white !important;
  background: #ffffff;
}

#map {
  position: relative;
  height: 400px;
  outline: none;
}

.form {
  text-align: center;
}

.jumbotron {
  padding-top: 2em;
  text-align: center;
  height: 50px;
  background-image: linear-gradient(
    to right top,
    #1fdc78,
    #00d3b0,
    #00c6dc,
    #00b4f0,
    #129eeb
  );
}
